.overflow{ max-height: 1000px;}
.flex img{width: 150px;
        height: 150px;
        padding-left: 20px;
        padding-right:10px;
}
.photo {
    width: 280px;
}
.card
{
    /* width: 280px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.514);
    border-radius: 0.4rem;
}
.card img {
    border-radius: 0.4rem 0.4rem 0 0 ;
    width: 1000px;
    height: 320px;
}
.totto {
    width: 900px;
}